
<div class="row">

<%= form_for(@invoice, :html => { :class => 'form-horizontal' }) do |f| %>

  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="span6">

    <div class="control-group">
          <%= f.label "Vendor", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :vendor_id, :class => 'text_field' %>
          </div>
        </div>
    <p class="offset2">Billing address here</p>
    <div class="control-group">
          <%= f.label "Memo", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :memo, :class => 'text_field', :rows => 4 %>
          </div>
        </div>
  </div>

  <div class="span3">
    <div class="control-group">
      <%= f.label "Invoice #", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :identifier, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
     <%= f.label 'Date issued', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :issued, :class => 'input-small', :placeholder => 'Datepicker' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Date due', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :due, :class => 'input-small', :placeholder => 'Datepicker' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Amount", :class => 'control-label' %>
        <div class="controls">
          $1500.00
        </div>
    </div>
    <div class="control-group">
      <%= f.label "Paid?", :class => 'control-label' %>
       <div class="controls">
         <%= f.check_box :paid, :class => 'checkbox' %>
       </div>
    </div>
  </div>

</div>
<hr>

<div class=row>
  <div class="span11">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Campaign</th>
          <th>Category</th>
          <th>Memo</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
      </thead>

      <tbody>
      <%= f.fields_for :transactions do |builder| %>
        <tr>
          <td><%= builder.text_field :item, :class => 'input-mini' %></td>
          <td>Campaign</td>
          <td><%= builder.text_field :category_id, :class => 'input-mini' %></td>
          <td><%= builder.text_field :memo, :class => 'input-mini' %></td>
          <td><%= builder.text_field :unitprice, :class => 'input-mini' %></td>
          <td><%= builder.text_field :quantity, :class => 'input-mini' %></td>
          <td>calculate</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="actions"> <br />
<%= f.submit %>
</div>

<% end %>