<table class="table">
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Category</th>
      <th>Item</th>
      <th>Memo</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Campaign</td>
      <td>Category</td>
      <td><%= f.item %></td>
      <td><%= f.memo %></td>
      <td><%= f.unitprice %></td>
      <td><%= f.quantity %></td>
      <td><%= f.amount %></td>
    </tr>
  </tbody>
</table>