<div class="page-header">
  <h1>Vendors</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Vendor Name</th>
      <th>Phone</th>
      <th>Location</th>
      <th>Website</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @vendors.each do |vendor| %>
    <tr>
      <td><%= link_to vendor.name, vendor_path(vendor) %></td>
      <td><%= vendor.phone %></td>
      <td><%= vendor.city %>, <%= vendor.state %></td>
      <td><%= link_to vendor.url, vendor.url, html_options = { :target => 'blank' }  %></td>
      <td><%= link_to image_tag('icon_edit.png', :border => 0), edit_vendor_path(vendor) %>
                <%= link_to image_tag('icon_delete.png', :border => 0),
                    vendor_path(vendor), :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))%></td>
    </tr>
  <% end %>
  </tbody>
</table>


<br />

<%= link_to 'New Vendor', new_vendor_path %>
