<div class="login">
  <p class="register">Not a member? <%= link_to "Sign up", new_registration_path(resource_name) %></p>
  <h1> Sign in to Mindioso</h1>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div>
			<label>Email</label>
		  <%= f.email_field :email %>
		</div>

		<div>
			<label for="login_password">Password</label>
			<%= f.password_field :password %>
		</div>

    <p class="forgot"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>


    <div class="submit">
        <button type="submit">Log in</button>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> Remember me
      <% end -%>
    </div>
  <% end %>

</div>